###############################################################################
# Please modify this file if you want to configure your own application.
# You can uncommon and/or change the following Kconfig elements.
###############################################################################


if ROOTFS_COMPONENT_APPS_NAME_ONLINE__TOOL
	comment "No additional options for ONLINE__TOOL"

# 	config APPS_ONLINE__TOOL_OPTION0
#	bool "option0"
#	help
#	  Help text
endif
