<form name="formSetting" ng-submit="changeTriggerChannel(trgChChoice, trgRngChoices[trgChChoice.id]['val'], trgMdChoice)" novalidate>
	<div class="form-group-sm">
		<label style="font-weight: 500;width: 100%;"><div class="alert-sm" style="background: rgba(255, 255, 255, 0.2);">TRIGGER CHANNEL</div></label>
	</div>
	<div class="form-group-sm">
		<select ng-model="trgChChoice" ng-options="choice.label for choice in trgChChoices" class="form-control" data-container="body" selectpicker></select>
	</div>
	<div class="form-group-sm">
		<label for="channel">Threshold ({{trgRngChoices[trgChChoice.id]['min']}}V to {{trgRngChoices[trgChChoice.id]['max']}}V)</label>
		<div class="form-group-sm">
			<input id="trgValue" ng-model="trgRngChoices[trgChChoice.id]['val']" type="number" class="form-control input-sm" placeholder="">
		</div>
	</div>
	<div class="form-group-sm">
		<label for="channel">Trigger Mode</label>
		<div class="form-group-sm">
			<select ng-model="trgMdChoice" ng-options="choice.label for choice in trgMdChoices" class="form-control" data-container="body" selectpicker></select>
		</div>
	</div>
	<div class="form-group-sm" style="margin-bottom: 5px;">
		<div ng-show="(trgMdChoice.id == 'disabled') || (trgRngChoices[trgChChoice.id]['val'] >= trgRngChoices[trgChChoice.id]['min'] && trgRngChoices[trgChChoice.id]['val'] <= trgRngChoices[trgChChoice.id]['max'])">
			<button id="changeChTrigger" ng-disabled="formSetting.$invalid" type="submit" class="btn btn-warning btn-with-icon" style="margin-top: 8px;"><i class="ion-android-sync"></i>CHANGE</button>
		</div>
		<div ng-show="(trgMdChoice.id != 'disabled') && (trgChChoice.id == '' || trgRngChoices[trgChChoice.id]['val'] < trgRngChoices[trgChChoice.id]['min'] || trgRngChoices[trgChChoice.id]['val'] > trgRngChoices[trgChChoice.id]['max'])">
			<button disabled="disabled" type="submit" class="btn btn-warning btn-with-icon" style="margin-top: 8px;"><i class="ion-android-sync"></i>CHANGE</button>
		</div>
		
		<div class="form-group-sm">
			<input id="procTrgCh" value="{{flgTrgCh}}" type="hidden" class="form-control input-sm" placeholder="">
		</div>
	</div>
</form>