 [Unit]
 After=network-online.target olive-gui.service

 [Service]
 type=forking
 PIDFile=/run/olive-api-server/olive-api-server.pid
 ExecStart=/opt/olive-api-server
 PrivateTmp=true

 [Install]
 WantedBy=network-online.target olive-gui.service
