 [Unit]
 After=network-online.target

 [Service]
 type=forking
 PIDFile=/run/olive-gui/olive-gui.pid
 ExecStart=/opt/olive-gui
 PrivateTmp=true

 [Install]
 WantedBy=network-online.target
